<%- include('partials/header') %>
<div class="body">
    <div class="container-1">
      <div id="con1-1" class="">

      </div>
      <div id="con1-2" class="container-1-left ml4">
        <!-- <span></span>  -->
        <span class="letters letters-1">Story</span>
        <span class="letters letters-2">Poetry</span>
        <span class="letters letters-3">3rd Angle</span>
        <span class="letters letters-4">Videos</span>
        <span class="letters letters-5">Litreature</span>

      </div>
      <div id="con1-3" class="container-1-right">
        <form class="form-signin">
          <!-- <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
          <p>SignUp to get Weekely updates and amazing content form our club.
          </p>

          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
            autocomplete="off">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
            autocomplete="off">
          <!-- <div class="checkbox mb-3">
                          <label>
                            <input type="checkbox" value="remember-me"> Remember me
                          </label>
                        </div> -->
          <button class="btn btn-lg btn-block" type="submit">Log in</button>
          <button class="btn btn-lg btn-block">Sign up</button>

        </form>
      </div>

      <div id="con1-4">

      </div>

    </div>



    <!-- Sections -->

    <div class="main-body">

      <section>
        <div class="container-2-top">
          Poetry
        </div>
        <div class="container-2">
          <div class="carousel" data-flickity='{ "groupCells": true }'>


            <div class="carousel-cell">
              <div class="card cardss" style="width: 18.5rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

          </div>


        </div>
      </section>






      <section>
        <div class="container-2-top">
          Story
        </div>
        <div class="container-2">
          <div class="carousel" data-flickity='{ "groupCells": true}'>
            <div class="carousel-cell">

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

          </div>


        </div>
      </section>







      <section>
        <div class="container-2-top">
          3rd Angle
        </div>
        <div class="container-2">
          <div class="carousel" data-flickity='{ "groupCells": true}'>

            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

          </div>


        </div>
      </section>







      <section>
        <div class="container-2-top">
          Events
        </div>
        <div class="container-2">
          <div class="carousel" data-flickity='{ "groupCells": true}'>

            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="carousel-cell">
              <div class="card cardss" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content. Some quick example text to build on the card title. Some quick example text to build on the card title.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>

          </div>


        </div>
      </section>
    </div>
</div>
<%- include('partials/footer') %>
